body {
  background: #E4EBF1;
}
.triangle {
  width: 0;
  height: 0;
  border-width: 0 25px 50px 25px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000 rgba(0, 0, 0, 0);
}
.triangle_1 {
  border-bottom-color: #5AADE6;
  -webkit-animation: color-1 2s infinite;
          animation: color-1 2s infinite;
}
.triangle_2 {
  border-bottom-color: #FFE755;
  -webkit-animation: color-2 2s infinite;
          animation: color-2 2s infinite;
}
.triangle_3 {
  border-bottom-color: #ED486F;
  -webkit-animation: color-3 2s infinite;
          animation: color-3 2s infinite;
}
.triangle_4 {
  border-bottom-color: #5AADE6;
  -webkit-animation: color-1 2s infinite -1s;
          animation: color-1 2s infinite -1s;
}
.triangle_5 {
  border-bottom-color: #FFE755;
  -webkit-animation: color-2 2s infinite -1s;
          animation: color-2 2s infinite -1s;
}
.triangle_6 {
  border-bottom-color: #ED486F;
  -webkit-animation: color-3 2s infinite -1s;
          animation: color-3 2s infinite -1s;
}
.loader {
  width: 100px;
  height: 100px;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loader_active {
  display: block;
}
.loader__item {
  position: absolute;
  top: 0;
  left: 0;
}
.loader__item_right-top {
  -webkit-transform: translate(100%, 0) rotate(90deg);
          transform: translate(100%, 0) rotate(90deg);
  -webkit-animation: move-1 2s infinite;
          animation: move-1 2s infinite;
}
.loader__item_right {
  -webkit-transform: translate(100%, 50%) rotate(-90deg);
          transform: translate(100%, 50%) rotate(-90deg);
  -webkit-animation: move-2 2s infinite;
          animation: move-2 2s infinite;
}
.loader__item_right-bottom {
  -webkit-transform: translate(100%, 100%) rotate(90deg);
          transform: translate(100%, 100%) rotate(90deg);
  -webkit-animation: move-3 2s infinite;
          animation: move-3 2s infinite;
}
.loader__item_left-bottom {
  -webkit-transform: translate(0, 100%) rotate(-90deg);
          transform: translate(0, 100%) rotate(-90deg);
  -webkit-animation: move-4 2s infinite;
          animation: move-4 2s infinite;
}
.loader__item_left {
  -webkit-transform: translate(0, 50%) rotate(90deg);
          transform: translate(0, 50%) rotate(90deg);
  -webkit-animation: move-5 2s infinite;
          animation: move-5 2s infinite;
}
.loader__item_left-top {
  -webkit-transform: translate(0, 0) rotate(-90deg);
          transform: translate(0, 0) rotate(-90deg);
  -webkit-animation: move-6 2s infinite;
          animation: move-6 2s infinite;
}
@-webkit-keyframes color-1 {
  50% {
    border-bottom-color: #C36BFF;
  }
}
@keyframes color-1 {
  50% {
    border-bottom-color: #C36BFF;
  }
}
@-webkit-keyframes color-2 {
  50% {
    border-bottom-color: #195DB0;
  }
}
@keyframes color-2 {
  50% {
    border-bottom-color: #195DB0;
  }
}
@-webkit-keyframes color-3 {
  50% {
    border-bottom-color: #76246A;
  }
}
@keyframes color-3 {
  50% {
    border-bottom-color: #76246A;
  }
}
@-webkit-keyframes move-1 {
  50% {
    -webkit-transform: translate(100%, 100%) rotate(360deg);
            transform: translate(100%, 100%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(100%, 0) rotate(450deg);
            transform: translate(100%, 0) rotate(450deg);
  }
}
@keyframes move-1 {
  50% {
    -webkit-transform: translate(100%, 100%) rotate(360deg);
            transform: translate(100%, 100%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(100%, 0) rotate(450deg);
            transform: translate(100%, 0) rotate(450deg);
  }
}
@-webkit-keyframes move-2 {
  50% {
    -webkit-transform: translate(50%, 100%) rotate(180deg);
            transform: translate(50%, 100%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(100%, 50%) rotate(270deg);
            transform: translate(100%, 50%) rotate(270deg);
  }
}
@keyframes move-2 {
  50% {
    -webkit-transform: translate(50%, 100%) rotate(180deg);
            transform: translate(50%, 100%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(100%, 50%) rotate(270deg);
            transform: translate(100%, 50%) rotate(270deg);
  }
}
@-webkit-keyframes move-3 {
  50% {
    -webkit-transform: translate(0, 100%) rotate(360deg);
            transform: translate(0, 100%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(100%, 100%) rotate(450deg);
            transform: translate(100%, 100%) rotate(450deg);
  }
}
@keyframes move-3 {
  50% {
    -webkit-transform: translate(0, 100%) rotate(360deg);
            transform: translate(0, 100%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(100%, 100%) rotate(450deg);
            transform: translate(100%, 100%) rotate(450deg);
  }
}
@-webkit-keyframes move-4 {
  50% {
    -webkit-transform: translate(0, 0) rotate(180deg);
            transform: translate(0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, 100%) rotate(270deg);
            transform: translate(0, 100%) rotate(270deg);
  }
}
@keyframes move-4 {
  50% {
    -webkit-transform: translate(0, 0) rotate(180deg);
            transform: translate(0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, 100%) rotate(270deg);
            transform: translate(0, 100%) rotate(270deg);
  }
}
@-webkit-keyframes move-5 {
  50% {
    -webkit-transform: translate(50%, 0) rotate(360deg);
            transform: translate(50%, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 50%) rotate(450deg);
            transform: translate(0, 50%) rotate(450deg);
  }
}
@keyframes move-5 {
  50% {
    -webkit-transform: translate(50%, 0) rotate(360deg);
            transform: translate(50%, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 50%) rotate(450deg);
            transform: translate(0, 50%) rotate(450deg);
  }
}
@-webkit-keyframes move-6 {
  50% {
    -webkit-transform: translate(100%, 0) rotate(180deg);
            transform: translate(100%, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(270deg);
            transform: translate(0, 0) rotate(270deg);
  }
}
@keyframes move-6 {
  50% {
    -webkit-transform: translate(100%, 0) rotate(180deg);
            transform: translate(100%, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(270deg);
            transform: translate(0, 0) rotate(270deg);
  }
}
