@-webkit-keyframes color-1 {
  50% {
    border-bottom-color: #C36BFF;
  }
}
@keyframes color-1 {
  50% {
    border-bottom-color: #C36BFF;
  }
}
@-webkit-keyframes color-2 {
  50% {
    border-bottom-color: #195DB0;
  }
}
@keyframes color-2 {
  50% {
    border-bottom-color: #195DB0;
  }
}
@-webkit-keyframes color-3 {
  50% {
    border-bottom-color: #76246A;
  }
}
@keyframes color-3 {
  50% {
    border-bottom-color: #76246A;
  }
}
@-webkit-keyframes move-1 {
  50% {
    -webkit-transform: translate(100%, 100%) rotate(360deg);
            transform: translate(100%, 100%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(100%, 0) rotate(450deg);
            transform: translate(100%, 0) rotate(450deg);
  }
}
@keyframes move-1 {
  50% {
    -webkit-transform: translate(100%, 100%) rotate(360deg);
            transform: translate(100%, 100%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(100%, 0) rotate(450deg);
            transform: translate(100%, 0) rotate(450deg);
  }
}
@-webkit-keyframes move-2 {
  50% {
    -webkit-transform: translate(50%, 100%) rotate(180deg);
            transform: translate(50%, 100%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(100%, 50%) rotate(270deg);
            transform: translate(100%, 50%) rotate(270deg);
  }
}
@keyframes move-2 {
  50% {
    -webkit-transform: translate(50%, 100%) rotate(180deg);
            transform: translate(50%, 100%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(100%, 50%) rotate(270deg);
            transform: translate(100%, 50%) rotate(270deg);
  }
}
@-webkit-keyframes move-3 {
  50% {
    -webkit-transform: translate(0, 100%) rotate(360deg);
            transform: translate(0, 100%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(100%, 100%) rotate(450deg);
            transform: translate(100%, 100%) rotate(450deg);
  }
}
@keyframes move-3 {
  50% {
    -webkit-transform: translate(0, 100%) rotate(360deg);
            transform: translate(0, 100%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(100%, 100%) rotate(450deg);
            transform: translate(100%, 100%) rotate(450deg);
  }
}
@-webkit-keyframes move-4 {
  50% {
    -webkit-transform: translate(0, 0) rotate(180deg);
            transform: translate(0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, 100%) rotate(270deg);
            transform: translate(0, 100%) rotate(270deg);
  }
}
@keyframes move-4 {
  50% {
    -webkit-transform: translate(0, 0) rotate(180deg);
            transform: translate(0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, 100%) rotate(270deg);
            transform: translate(0, 100%) rotate(270deg);
  }
}
@-webkit-keyframes move-5 {
  50% {
    -webkit-transform: translate(50%, 0) rotate(360deg);
            transform: translate(50%, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 50%) rotate(450deg);
            transform: translate(0, 50%) rotate(450deg);
  }
}
@keyframes move-5 {
  50% {
    -webkit-transform: translate(50%, 0) rotate(360deg);
            transform: translate(50%, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 50%) rotate(450deg);
            transform: translate(0, 50%) rotate(450deg);
  }
}
@-webkit-keyframes move-6 {
  50% {
    -webkit-transform: translate(100%, 0) rotate(180deg);
            transform: translate(100%, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(270deg);
            transform: translate(0, 0) rotate(270deg);
  }
}
@keyframes move-6 {
  50% {
    -webkit-transform: translate(100%, 0) rotate(180deg);
            transform: translate(100%, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(270deg);
            transform: translate(0, 0) rotate(270deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(50px, 0) rotate(30deg);
            transform: translate(50px, 0) rotate(30deg);
  }
  100% {
    -webkit-transform: translate(50px, 0) rotate(390deg);
            transform: translate(50px, 0) rotate(390deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: translate(50px, 0) rotate(30deg);
            transform: translate(50px, 0) rotate(30deg);
  }
  100% {
    -webkit-transform: translate(50px, 0) rotate(390deg);
            transform: translate(50px, 0) rotate(390deg);
  }
}
*,
*:before,
*:after {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  height: 100%;
  min-height: 480px;
}
body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.body {
  font-size: 16px;
  font-family: helvetica, arial, sans-serif;
  background: #444;
  position: relative;
}
.body:before {
  content: '';
  position: absolute;
  background: url(../images/background.jpg) 50%;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
}
.body_initial {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.body_initial .page {
  height: auto;
  padding: 0;
  min-height: 0;
}
.body_initial .button {
  margin-bottom: 0;
}
.body_loading .loader {
  -webkit-transition: opacity .3s linear .01s,
                  -webkit-transform .01s linear;
  transition: opacity .3s linear .01s,
                  -webkit-transform .01s linear;
  transition: opacity .3s linear .01s,
                  transform .01s linear;
  transition: opacity .3s linear .01s,
                  transform .01s linear,
                  -webkit-transform .01s linear;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.body_loading .page {
  opacity: 0;
  pointer-events: none;
}
.body_preload .overlay {
  -webkit-transition: opacity .3s linear .01s,
                  -webkit-transform .01s linear;
  transition: opacity .3s linear .01s,
                  -webkit-transform .01s linear;
  transition: opacity .3s linear .01s,
                  transform .01s linear;
  transition: opacity .3s linear .01s,
                  transform .01s linear,
                  -webkit-transform .01s linear;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.body_preload .loader {
  -webkit-transition: opacity .3s linear .01s,
                  -webkit-transform .01s linear;
  transition: opacity .3s linear .01s,
                  -webkit-transform .01s linear;
  transition: opacity .3s linear .01s,
                  transform .01s linear;
  transition: opacity .3s linear .01s,
                  transform .01s linear,
                  -webkit-transform .01s linear;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.page {
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  text-align: center;
  width: 100%;
  height: 100vh;
  min-height: 480px;
  padding: 20px 10px;
  position: relative;
  z-index: 10;
}
.triangle {
  width: 0;
  height: 0;
  border-width: 0 25px 50px 25px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000 rgba(0, 0, 0, 0);
}
.triangle_1 {
  border-bottom-color: #5AADE6;
  -webkit-animation: color-1 2s infinite;
          animation: color-1 2s infinite;
}
.triangle_2 {
  border-bottom-color: #FFE755;
  -webkit-animation: color-2 2s infinite;
          animation: color-2 2s infinite;
}
.triangle_3 {
  border-bottom-color: #ED486F;
  -webkit-animation: color-3 2s infinite;
          animation: color-3 2s infinite;
}
.triangle_4 {
  border-bottom-color: #5AADE6;
  -webkit-animation: color-1 2s infinite -1s;
          animation: color-1 2s infinite -1s;
}
.triangle_5 {
  border-bottom-color: #FFE755;
  -webkit-animation: color-2 2s infinite -1s;
          animation: color-2 2s infinite -1s;
}
.triangle_6 {
  border-bottom-color: #ED486F;
  -webkit-animation: color-3 2s infinite -1s;
          animation: color-3 2s infinite -1s;
}
.overlay {
  width: 100%;
  height: 100%;
  z-index: 50;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .3s linear,
              -webkit-transform .01s linear .3s;
  transition: opacity .3s linear,
              -webkit-transform .01s linear .3s;
  transition: opacity .3s linear,
              transform .01s linear .3s;
  transition: opacity .3s linear,
              transform .01s linear .3s,
              -webkit-transform .01s linear .3s;
  -webkit-transform: translate(-1000%, 0);
      -ms-transform: translate(-1000%, 0);
          transform: translate(-1000%, 0);
  opacity: 0;
}
.loader {
  -webkit-transition: opacity .3s linear,
              -webkit-transform .01s linear .3s;
  transition: opacity .3s linear,
              -webkit-transform .01s linear .3s;
  transition: opacity .3s linear,
              transform .01s linear .3s;
  transition: opacity .3s linear,
              transform .01s linear .3s,
              -webkit-transform .01s linear .3s;
  width: 100px;
  height: 100px;
  position: absolute;
  opacity: 0;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-1000%, -50%);
      -ms-transform: translate(-1000%, -50%);
          transform: translate(-1000%, -50%);
  z-index: 100;
}
.loader__item {
  position: absolute;
  top: 0;
  left: 0;
}
.loader__item_right-top {
  -webkit-transform: translate(100%, 0) rotate(90deg);
      -ms-transform: translate(100%, 0) rotate(90deg);
          transform: translate(100%, 0) rotate(90deg);
  -webkit-animation: move-1 2s infinite;
          animation: move-1 2s infinite;
}
.loader__item_right {
  -webkit-transform: translate(100%, 50%) rotate(-90deg);
      -ms-transform: translate(100%, 50%) rotate(-90deg);
          transform: translate(100%, 50%) rotate(-90deg);
  -webkit-animation: move-2 2s infinite;
          animation: move-2 2s infinite;
}
.loader__item_right-bottom {
  -webkit-transform: translate(100%, 100%) rotate(90deg);
      -ms-transform: translate(100%, 100%) rotate(90deg);
          transform: translate(100%, 100%) rotate(90deg);
  -webkit-animation: move-3 2s infinite;
          animation: move-3 2s infinite;
}
.loader__item_left-bottom {
  -webkit-transform: translate(0, 100%) rotate(-90deg);
      -ms-transform: translate(0, 100%) rotate(-90deg);
          transform: translate(0, 100%) rotate(-90deg);
  -webkit-animation: move-4 2s infinite;
          animation: move-4 2s infinite;
}
.loader__item_left {
  -webkit-transform: translate(0, 50%) rotate(90deg);
      -ms-transform: translate(0, 50%) rotate(90deg);
          transform: translate(0, 50%) rotate(90deg);
  -webkit-animation: move-5 2s infinite;
          animation: move-5 2s infinite;
}
.loader__item_left-top {
  -webkit-transform: translate(0, 0) rotate(-90deg);
      -ms-transform: translate(0, 0) rotate(-90deg);
          transform: translate(0, 0) rotate(-90deg);
  -webkit-animation: move-6 2s infinite;
          animation: move-6 2s infinite;
}
.button {
  -webkit-transition: all .15s;
  transition: all .15s;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  padding: 0 20px;
  min-width: 160px;
  border-radius: 40px;
  font-size: 1.2rem;
  line-height: 3rem;
  cursor: pointer;
  margin-bottom: 20px;
}
.button:hover {
  background: #fff;
  color: #444;
}
.card {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 80%;
  max-width: 480px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card_active {
  opacity: 1;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.card__info,
.card__vinil {
  margin-bottom: 20px;
}
.card__downloads {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.music {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #fff;
  word-break: break-word;
  display: inline;
  text-decoration: underline;
}
.music:hover {
  text-decoration: none;
}
.downloads {
  padding: 0 10px;
  display: block;
  margin: 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  list-style: none;
}
.downloads__item {
  margin: 0;
  padding: 10px;
  word-break: break-word;
  border-top: 1px solid #444;
}
.downloads__item:first-child {
  margin-top: 0;
  border-top: none;
}
.downloads__item:last-child {
  margin-bottom: 0;
}
.downloads__text {
  font-size: 12px;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}
.downloads__controls {
  overflow: hidden;
}
.downloads__play {
  float: left;
  font-size: 14px;
  background: #444;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 4px 10px;
  cursor: pointer;
}
.downloads__link {
  float: right;
  padding: 4px 0;
  color: #444;
  font-size: 14px;
}
.downloads__link:hover {
  text-decoration: none;
}
.downloads__link:visited {
  opacity: .6;
}
.player {
  position: fixed;
  z-index: 100;
  width: 100%;
  bottom: 0;
  left: 0;
}
.player__inner {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.vinil {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
  opacity: 0;
  display: block;
}
.vinil_show {
  opacity: 1;
}
.vinil__trigger {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  border: none;
  background: none;
}
.vinil__trigger:checked ~ .vinil__cover {
  -webkit-transform: translate(-50px, 0);
      -ms-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
}
.vinil__trigger:checked ~ .vinil__disk {
  -webkit-transform: translate(50px, 0) rotate(30deg);
      -ms-transform: translate(50px, 0) rotate(30deg);
          transform: translate(50px, 0) rotate(30deg);
}
.vinil__cover {
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-size: cover;
  -webkit-transform: translate(-20px, 0);
      -ms-transform: translate(-20px, 0);
          transform: translate(-20px, 0);
  background-color: #444;
  border-radius: 2px;
  -webkit-box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.3), inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
          box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.3), inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.vinil__disk {
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 5;
  background: url(../images/vinil.svg);
  background-size: cover;
  -webkit-transform: translate(20px, 0);
      -ms-transform: translate(20px, 0);
          transform: translate(20px, 0);
}
.vinil__disk-pic {
  position: absolute;
  width: 39%;
  height: 39%;
  background-size: cover;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.vinil__disk-pic:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -2px;
  background: #eee;
  border-radius: 50%;
}
